<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t("google_base.export_settings") %>
<% end %>

<% content_for :page_actions do %>
  <li id="edit_google_base_settings_link"> 
        <%= button_link_to t("edit"), edit_admin_google_base_settings_path %>
  </li>
  <% if Spree::GoogleBase::Config[:enable_taxon_mapping] %>
    <li id="edit_taxon_mapping"> 
      <%= button_link_to t("google_base.manage_taxon_mapping"), admin_taxon_map_index_path %>
     </li> 
  <% end %>
<% end %>

<table class="index" id="admin_google_base_settings">
  <colgroup>
      <col style="width: 40%">
      <col style="width: 60%">
  </colgroup>
  <thead>
    <tr data-hook="admin_google_base_headers">
      <th><%= t(:item) %></th>
      <th><%= t(:setting) %></th>
    </tr>
  </thead>
  <tbody>
    <% [:title, :public_domain, :description, :ftp_username].each do |setting| %>
      <%= setting_presentation_row(setting) %>
    <% end %>
    <%= setting_presentation_row(:ftp_password, true) %>
    <%= setting_presentation_row(:enable_taxon_mapping) %>
</tbody>
</table>


