<% content_for :head do -%>
<%= stylesheet_link_tag 'google_base.css' %>
<% end -%>

<% content_for :page_title do %>
  Google Base Taxonomy Mapping
<% end %>

<% content_for :page_actions do %>
  <li id="edit_google_base_settings_link"> 
        <%= button_link_to "Back to Google Base Settings", admin_google_base_settings_path %>
  </li>
<% end %>

<div id="google_base_map">
<%= form_for :taxon_maper do |f| %>
  <div class="headers">
    <label for="header">Taxon</label>
    <div class="priority">Priority</div>
    <div class="category">Category</div>
  </div>    
<% @taxons.each do |taxon| -%>
  <p>
    <label><%= taxon.name %></label>
    <%= text_field(:priority, taxon.id, :value => taxon.taxon_map.priority.to_s, :class => 'priority') %>
    <%= text_field(:tax_id, taxon.id, :value => taxon.taxon_map.product_type, :class => 'category') %>
  </p>
<% end -%>
<%= submit_tag 'Update' %>
<% end %>
</div>
